@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
body{
    margin: 0;
}

li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}

header{
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header_countainer{
    flex-direction: row;
    display: flex;
    gap: 10px;
    
    font-size: 20px;
    background-color: white;
    
}

#logo{
    font-family: 'Italianno', cursive;
    font-weight: bold;
    font-size: 50px;
    background: linear-gradient(rgb(20, 191, 222), rgb(14, 76, 249));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-inline-end: 45%;
    display: flex;
    align-items: center;
}

.nav_link{
    gap: 15px;
    display: flex;
    font-weight: 600;
    padding-inline-end: 5%;    
    align-items: center;
}
#test{
    background: linear-gradient(rgb(29, 115, 169),rgb(94, 93, 223));
    color: white;
    border-radius: 20px;
    padding: 7px;
}
#menu{
    font-weight: bold;
    background-color: white;
    border: none;
}
.image_edit{
    width: 100%;
    height: 300px;
    mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
}
.heading_one{
    flex-direction: column;
    display: flex;
    align-items: center;
    padding: 10px 15%;    
    gap: 10px;
    padding-bottom: 70px;
}
.heading_one_title{
    color: rgb(32, 67, 115);
    font-weight: 700;
    font-size: xx-large;
}
.heading_one_content{
    text-align: center;
}
.heading_one_button{
    background-color: rgb(85, 102, 212);
    border: none;
    border-radius: 25px;
    color: white;
    padding: 10px 20px;
}
.heading_two{
    gap: 10px;
}
.heading_two_title{
    text-align: center;
    color: rgb(32, 67, 115);
    font-weight: 700;
    font-size: xx-large;
}
.heading_two_content{
    flex-direction: row;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 20px 10% 20px 10%;
    gap: 20px;

}
.heading_two_content_1{
    flex-direction: column;
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 10px;
    width: 27%;
    padding: 50px 0px;
}
.heading_two_content_2{
    flex-direction: column;
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 10px;
    width: 27%;
}
.heading_two_content_3{
    flex-direction: column;
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 10px;
    width: 27%;
}


.bandage{
    padding: 0px 0px 15px 0px;

}
.moon{
    padding: 0px 0px 15px 0px;
}
.leaf{
    padding: 0px 0px 15px 0px;
}
.heading_two_content_1_title{
    color: rgb(61, 61, 61);
    font-size: larger;
    font-weight: bold;
}
.heading_two_content_2_title{
    color: rgb(61, 61, 61);
    font-size: larger;
    font-weight: bold;
}
.heading_two_content_3_title{
    color: rgb(61, 61, 61);
    font-size: larger;
    font-weight: bold;
}

.heading_two_content_1_content{
    text-align: start;
}
.heading_two_content_2_content{
    text-align: start;
}
.heading_two_content_3_content{
    text-align: start;
}


.heading_two_content_1_foot{
    color: gray;
    text-decoration: underline;
}
.heading_two_content_2_foot{
    color: gray;
    text-decoration: underline;
}
.heading_two_content_3_foot{
    color: gray;
    text-decoration: underline;
}

.image_edit_1 {
    width: 100%;
    height: 300px;
    margin-bottom: 30px;
    mask-image: linear-gradient(
        to bottom,
        transparent 0%,
        black 30%,
        black 70%,
        transparent 100%
    );
    -webkit-mask-image: linear-gradient(
        to bottom,
        transparent 0%,
        black 30%,
        black 70%,
        transparent 100%
    );
}
.comments_title{
    text-align: center;
    color: rgb(32, 67, 115);
    font-weight: 700;
    font-size: xx-large;
}
.comment_countainer{
    flex-direction: row;
    display: flex;
    gap: 5%;
    align-items: center;
    justify-content: center;
    margin: 3% 13%;
}
.comments{
    background: linear-gradient(rgb(31, 116, 168),rgb(99, 97, 224));
    padding: 5% 1% 10% 1%;
    border-radius: 10%;
    color: white;
    width: 400px;
    display: flex;
    flex-direction: column;
}

.author{
    font-size: 16px;
    font-weight: bold;
    margin-top: auto; 
    margin-bottom: 10px;
}

.quote-text {
    font-size: 18px;
    font-style: normal; 
    margin-top: 50px; 
    margin-bottom: 30px;
    font-weight: 500;
    font-family: Lucida , sans-serif;

}

.rating {
    font-size: 24px;
    color: #ffd700;
    letter-spacing: 2px;
}
.navigation-controls {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    justify-content: end;
}

.nav-button {
    background: white;
    border: 1px solid #ccc;
    color: rgb(138, 142, 152);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 18px;   
}
.heading_3{
    background-image: url("/myhtml/projet calm/images/blue-wave.webp");
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 15%;
    margin-bottom: 100px;
}
.heading_3_title{
    text-align: center;
    color: rgb(32, 67, 115);
    font-weight: 700;
    font-size: x-large;
}
.card{
    background-color: white;
    border: 2px solid;
    border-color:darkblue;
    border-radius: 12px;
    padding: 0 8%;
    position: relative;
    padding: 0;
}
.card_fo9{
    position: absolute;
    border-radius: 20px;
    color: white;
    font-size: smaller;
    line-height: 0;
    top:-18px ;
    right: 10px;
    background: linear-gradient(to right ,rgb(90, 65, 198),rgb(134, 70, 166));
}
.card_wst{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;       
}

.ktba{
    color: gray;
    line-height: 1;
    font-size: smaller;
    width: 500px;
}
.heading_3_button{
    background: linear-gradient(rgb(29, 115, 169),rgb(94, 93, 223));
    border: none;
    width: 500px;
    height: 30px;
    border-radius: 20px;
    color: white;
    font-weight: 700;
    font-size: large;
}
.footer_countainer{
    background-color: darkblue;
    display: flex;
    color: white;
    padding-left: 5%;
    justify-content: space-between;

}
.lists{
    padding: 0;
    color: rgb(228, 224, 221);
}